body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: url(/images/background.jpg) fixed;
  background-size:cover;
  background-repeat:no-repeat;
}
nav{
  width: 100%;
  background: #4d5252;
  opacity: 0.7;
  filter:alpha(opacity=40);
}
ul{
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
ul li{
  list-style: none;
  display:inline-block;
  padding: 20px;
}
ul li:hover{
  background: rgb(12, 12, 12);
  opacity: 1;
}
ul li a{
  color: #fff;
  text-decoration: none;
}
.content{
  text-align: center;
  color: #4d5252;
  padding-top:100px ; 
  font-weight: bold;
}
.myimg{
  padding: 20px;
  max-width: 20%;
  max-height: 20%;
  float: left;
  shape-outside: padding-box;
}
.aboutme{
  padding: 20px;
  text-align: center;
  shape-outside: padding-box;
}
.aboutme-content{
  padding: 10px;
  text-align: center;
  shape-outside: padding-box,
}
.icon{
  max-width: 35px;
  max-height: 35px;
}
ol{
  width: 80%;
  margin: 0 auto;
  padding: o;
}
ol li{
  list-style: none;
  display:inline-block;
  padding: 20px;
}
ol li a{
  text-decoration: none;
  text-align: center;
}
.contactscontent{
  text-align: center;
  padding: 20px;
  font-weight: bold
}
.projects img{
  max-width: 20%;
  max-height: 20%;
  padding: 20px;
}




 