body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: url(/images/background.jpg) fixed;
  background-size:cover;
  background-repeat:no-repeat;
}
nav{
  width: 100%;
  background: #4d5252;
}
ul{
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
ul li{
  list-style: none;
  display:inline-block;
  padding: 20px;
}
ul li:hover{
  background: rgb(12, 12, 12);
}
ul li a{
  color: #fff;
  text-decoration: none;
}
.content{
  text-align: center;
  color: #4d5252;
  padding-top:100px ; 
  font-weight: bold;
}
.myimg{
  padding: 20px;
  max-width: 20%;
  max-height: 20%;
}



 